
.registContent{

    // background: #fff;

}
.bggray{
    padding:2.4% 0;
    background: #fafafa;
}

.am-navbar-light{
    background-color:#00D3C2;
    background:linear-gradient(to right, #1db5a4, #1cabbf);
    color:#fff;
    .am-navbar-title{
        color:#fff;
    }
}
.check{
    
    .deal{
        color:#00D3C2;
    }
   
}